@media(min-width: 800px) {

    #start .text {
        max-width: 40vw;
    }

    #start .text h2 {
        font-size: clamp(1.5rem, 2.7vw, 2.3rem);
        line-height: 2.8rem;
    }
    #start .text h1 {
        font-size: clamp(1.5rem, 2.7vw, 2.3rem);
    }
}

@media(min-width: 800px) and (orientation: landscape) {
    
    main {
        padding: 2.1rem;
    }

    #start .text p {
        margin: 1rem 0 1.2rem;
    }

    #features {
        padding: 0 5rem;
        gap: 1.8rem;
        grid-auto-columns: 1fr 1fr 1fr;
        grid-template-areas: "a b d"
                             "a c d";
    }

    #features .card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #features .card {
        max-width: 21.8rem;
    }

    #features .card-content {
        padding: 1.4rem 1.9rem 2rem;
        gap: 2.5rem;
    }

    .supervisor-card {
        grid-area: a;
    }

    .team-builder-card {
        grid-area: b;
    }

    .karma-card {
        grid-area: c;
    }

    .calculator-card {
        grid-area: d;
    }
}